{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/core.css' %}">
        <title>Registration successful</title>
    </head>
    <body>
      <body>
        {% block content %}
            <h1>Person has been registered!</h1>
            <b><a href="{% url 'reg_form' %}">Go back</a></b>
        {% endblock %}
      </body>
    </body>
</html>
